<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"></link>


    <title>not eBay</title>

    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="/css/custom.css" />

</head>
<header>
    <div class = "navbar-fixed-top">
        <nav class="header-fixed">
            <div class="navbar-brand">
                <a href="/"> <img id="logo-png" src="/img/ebay_logo.png" alt="logo"/></a>
            </div>
            <div class="nav-menu">
                <ul>
                    <li>
                        <div class="dropdown">
                            <a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a>
                            <div class="dropdown-content">
                                <input id="drop-f-name" placeholder="Fisrt name"/>
                                <input id="drop-l-name" placeholder="Last name"/>
                                <input id="drop-email" placeholder="E-mail"/>
                                <input id="drop-phone-number" placeholder="Phone number"/>
                                <input id="drop-billing-address" placeholder="Billing address"/>
                                <input id="drop-shipping-address" placeholder="Shipping address"/>
                                <button id="btn-profile">Done</button>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<body>

<div class="jumbotron text-center">
    <h1>Shopping Cart</h1>
</div>

<div class="container">
    <div class="well well-sm">
        <strong>Shopping Cart</strong>
    </div>

    <div id="products" class="row list-group">
        <div class="cart">
            <p ></p>
            <table>
                <tr>
                    <td></td>
                    <td><b>Item ID</b></td>
                    <td><b> </b></td>
                    <td><b>Name</b></td>
                    <td><b>Price</b></td>
                    <td class="bttn"></td>
                    <td class="bttn"><b>Quantity</b></td>
                    <td class="bttn"></td>
                    <td><b>Total Cost</b></td>
                </tr>
                <tr class="item" th:each="prod,iterStat : ${cart}">
                    <td><a class="btn btn-success remove" th:href="'/cart/remove/' + ${prod.getId()}">Remove</a></td>
                    <td th:text="${prod.getProductId()}">ID</td>
                    <td><img class="group list-group-image" src="http://placehold.it/400x250/000/fff"
                             th:attr="src='/img/product_' + ${prod.getProductId()} + '.jpg'" alt=""/></td>
                    <td th:text="${prod.getName()}">name</td>
                    <td th:text="${prod.getPrice()}">price</td>
                    <td class="bttn"><a class="btn btn-success" th:href="'/cart-1/' + ${prod.getId()}">-</a></td>
                    <td class="quantity bttn" th:text="${prod.quantity}"></td>
                    <td class="bttn"><a class="btn btn-success" th:href="'/cart1/' + ${prod.getId()}">+</a></td>
                    <td class="total cost" th:text="${prod.getTotalPrice()}">100</td>


                </tr>
            </table>
            <div>
                <h3>Total amount: </h3>
                <p th:text="${TotalPrice}">0 </p>
                <h3><a class="btn btn-success remove">Proceed to Checkout</a></h3>
            </div>
        </div>
    </div>
</div>


<div th:replace="footer :: copy"></div>

</body>
</html>